## Data Loading

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

print("Imports successful")

Imports successful

In [7]:
df = pd.read_csv("../data/customer_info.csv")
df_raw = df.copy()
print("Loaded:", df.shape)
df.head()

Loaded: (16978, 25)

,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,11259,Louis Huffman,male,08/22/1948 05:06 AM,0.0,2.0,2.0,3.0,6238.0,818.0,...,1039.0,361.0,457.0,1520.0,210.0,0.623414,2000.0,917650.0,38.683897,-9.172942
1,6538,Msc. Noel Ward,male,02/12/1967 07:51 PM,2.0,1.0,3.0,3.0,4188.0,1048.0,...,1913.0,562.0,67.0,957.0,92.0,0.555637,2017.0,906928.0,38.790490,-9.115064
2,14274,Bsc. Scott Giordano,male,04/10/1986 05:10 PM,0.0,0.0,1.0,1.0,25269.0,4047.0,...,303.0,724.0,442.0,1213.0,85.0,0.259248,2014.0,958107.0,38.775609,-9.112610
3,7796,William Lacy,male,01/03/1999 01:47 AM,0.0,1.0,1.0,3.0,8292.0,1524.0,...,1877.0,560.0,1028.0,1005.0,169.0,0.419730,2024.0,967864.0,38.736641,-9.158548
4,4521,Bsc. Nathan Minor,male,10/21/1957 07:34 AM,3.0,1.0,2.0,3.0,43692.0,3718.0,...,3093.0,1635.0,868.0,745.0,345.0,0.428821,2004.0,971603.0,38.726597,-9.109803

In [ ]:
df.columns

## Data Overview

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16978 entries, 0 to 16977
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customer_id                              16978 non-null  int64
 1   customer_name                            16978 non-null  object
 2   customer_gender                          16978 non-null  object
 3   customer_birthdate                       16910 non-null  object
 4   kids_home                                16893 non-null  float64
 5   teens_home                               16910 non-null  float64
 6   number_complaints                        16927 non-null  float64
 7   distinct_stores_visited                  16808 non-null  float64
 8   lifetime_spend_groceries                 16978 non-null  float64
 9   lifetime_spend_electronics               16978 non-null  float64
 10  typical_hour                             16910 non-null  float64
 11  lifetime_spend_vegetables                16893 non-null  float64
 12  lifetime_spend_nonalcohol_drinks         16978 non-null  float64
 13  lifetime_spend_alcohol_drinks            16808 non-null  float64
 14  lifetime_spend_meat                      16978 non-null  float64
 15  lifetime_spend_fish                      16808 non-null  float64
 16  lifetime_spend_hygiene                   16978 non-null  float64
 17  lifetime_spend_videogames                16978 non-null  float64
 18  lifetime_spend_petfood                   16978 non-null  float64
 19  lifetime_total_distinct_products         16978 non-null  float64
 20  percentage_of_products_bought_promotion  16978 non-null  float64
 21  year_first_transaction                   16978 non-null  float64
 22  loyalty_card_number                      13835 non-null  float64
 23  latitude                                 16978 non-null  float64
 24  longitude                                16978 non-null  float64
dtypes: float64(21), int64(1), object(3)
memory usage: 3.2+ MB

In [5]:
df.isna().sum()

customer_id                                   0
customer_name                                 0
customer_gender                               0
customer_birthdate                           68
kids_home                                    85
teens_home                                   68
number_complaints                            51
distinct_stores_visited                     170
lifetime_spend_groceries                      0
lifetime_spend_electronics                    0
typical_hour                                 68
lifetime_spend_vegetables                    85
lifetime_spend_nonalcohol_drinks              0
lifetime_spend_alcohol_drinks               170
lifetime_spend_meat                           0
lifetime_spend_fish                         170
lifetime_spend_hygiene                        0
lifetime_spend_videogames                     0
lifetime_spend_petfood                        0
lifetime_total_distinct_products              0
percentage_of_products_bought_promotion       0
year_first_transaction                        0
loyalty_card_number                        3143
latitude                                      0
longitude                                     0
dtype: int64

In [6]:
df.describe()

,customer_id,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,lifetime_spend_nonalcohol_drinks,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
count,16978.000000,16893.000000,16910.000000,16927.000000,16808.000000,16978.000000,16978.000000,16910.000000,16893.000000,16978.000000,...,16808.000000,16978.000000,16978.000000,16978.000000,16978.000000,16978.000000,16978.000000,13835.000000,16978.000000,16978.000000
mean,9981.332195,1.639792,1.085571,1.103917,1.984293,26920.981034,2858.417069,14.665464,2769.181318,2144.302980,...,1715.156592,727.500118,1113.316704,1004.036753,171.656025,0.431158,2014.260101,950299.199060,38.727290,-9.154501
std,5781.604623,1.529161,0.948280,0.920515,1.247115,19734.997961,2404.063138,4.787448,1787.447384,1176.776175,...,1218.002032,499.397645,1558.189418,397.650683,93.932173,0.238567,6.195122,28905.088779,0.037551,0.038855
min,1.000000,0.000000,0.000000,0.000000,1.000000,10.000000,0.000000,6.000000,0.000000,0.000000,...,3.000000,0.000000,0.000000,1.000000,1.000000,-0.438785,1991.000000,900000.000000,38.659915,-9.235972
25%,4973.250000,0.000000,0.000000,0.000000,1.000000,11344.500000,1269.000000,10.000000,1376.000000,1218.000000,...,600.750000,344.000000,398.000000,728.000000,96.000000,0.264496,2011.000000,924926.500000,38.696862,-9.182399
50%,9950.500000,1.000000,1.000000,1.000000,2.000000,20783.500000,2370.000000,15.000000,2423.000000,1999.000000,...,1454.000000,640.000000,642.500000,1003.000000,153.000000,0.407342,2015.000000,950521.000000,38.720024,-9.157290
75%,14999.750000,3.000000,2.000000,2.000000,2.000000,40250.250000,3573.750000,18.000000,3981.000000,2911.750000,...,2611.000000,1017.000000,972.000000,1276.000000,235.000000,0.575179,2019.000000,975177.000000,38.757172,-9.127548
max,20000.000000,11.000000,5.000000,7.000000,10.000000,128132.000000,17407.000000,24.000000,10076.000000,7490.000000,...,6945.000000,3393.000000,11984.000000,2686.000000,592.000000,1.363649,2026.000000,999982.000000,38.809993,-9.064037

## Data Cleaning

In [9]:
cols_to_drop = [
  "customer_id",
  "customer_name",
  "loyalty_card_number"
]

df = df.drop(columns=cols_to_drop)

print("Dropped columns:", cols_to_drop)
df.shape

Dropped columns: ['customer_id', 'customer_name', 'loyalty_card_number']

(16978, 22)

In [10]:
#Convert birthdate to datetime
df["customer_birthdate"] = pd.to_datetime(df["customer_birthdate"], errors="coerce")

df["age"] = 2025 - df["customer_birthdate"].dt.year

df= df.drop(columns=["customer_birthdate"])

df[["age"]].describe()

                age
count  16910.000000
mean      54.321230
std       17.906511
min       24.000000
25%       39.000000
50%       54.000000
75%       70.000000
max       85.000000

In [11]:
# Fill missing numeric values with median

numeric_cols = df.select_dtypes(include=["float64", "int64"]).columns

df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

df.isna().sum()

customer_gender                            0
kids_home                                  0
teens_home                                 0
number_complaints                          0
distinct_stores_visited                    0
lifetime_spend_groceries                   0
lifetime_spend_electronics                 0
typical_hour                               0
lifetime_spend_vegetables                  0
lifetime_spend_nonalcohol_drinks           0
lifetime_spend_alcohol_drinks              0
lifetime_spend_meat                        0
lifetime_spend_fish                        0
lifetime_spend_hygiene                     0
lifetime_spend_videogames                  0
lifetime_spend_petfood                     0
lifetime_total_distinct_products           0
percentage_of_products_bought_promotion    0
year_first_transaction                     0
latitude                                   0
longitude                                  0
age                                        0
dtype: int64

## Creating New Variables

In [12]:
spend_cols = [
  "lifetime_spend_groceries",
  "lifetime_spend_electronics",
  "lifetime_spend_vegetables",
  "lifetime_spend_nonalcohol_drinks",
  "lifetime_spend_alcohol_drinks",
  "lifetime_spend_meat",
  "lifetime_spend_fish",
  "lifetime_spend_hygiene",
  "lifetime_spend_videogames",
  "lifetime_spend_petfood"
]

df["total_lifetime_spend"] = df[spend_cols].sum(axis=1)

df[["total_lifetime_spend"]].describe()

       total_lifetime_spend
count          16978.000000
mean           43592.248145
std            23050.948411
min             5822.000000
25%            23660.000000
50%            37922.500000
75%            61574.750000
max           141672.000000

In [13]:
df["tenure"] = 2025 - df["year_first_transaction"]

df[["tenure"]].describe()

             tenure
count  16978.000000
mean      10.739899
std        6.195122
min       -1.000000
25%        6.000000
50%       10.000000
75%       14.000000
max       34.000000

In [14]:
#fix the negative tenure values

df["tenure"] = df["tenure"].clip(lower=0)

df[["tenure"]].describe()

             tenure
count  16978.000000
mean      10.748675
std        6.179172
min        0.000000
25%        6.000000
50%       10.000000
75%       14.000000
max       34.000000